# misc
.env

# OSX
.DS_Store

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml

# node.js
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
android/fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/README.md
*.ipa
Gemfile
*.apk
